{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false
    },
    "rules": {
        "no-underscore-dangle": 0,
        "class-methods-use-this": ["off"],
        "no-use-before-define": ["error", {
            "functions": false,
            "classes": false
        }],
        "arrow-parens": ["error", "as-needed", {
            "requireForBlockBody": false
        }],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-console": "off",
        "eol-last": "off",
        "prefer-arrow-callback": "off",
        "func-names": "off",
        "consistent-return": "off"

    }
}